body {
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  background-color: #ffffff;
  color: #2e2f42;
}
h1 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
}
h2 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-family: "roboto", sans-serif;
  font-weight: medium;
  font-size: 20px;
  letter-spacing: 2%;
}
.hero-image {
  background-color: #2e2f42;
}
.but {
  font-family: "roboto", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
}
a {
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
}
button {
  font-family: "roboto";
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo span {
  color: #2e2f42;
}

.link-home {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 0.3s ease;
}

.link-home:hover {
  color: #404bbf;
}

.link-home:focus {
  color: #404bbf;
}
.address-info {
  font-style: normal;
}
.link-first {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 0.3s ease;
}

.link-first:hover {
  color: #404bbf;
}

.link-first:focus {
  color: #404bbf;
}
